:root {
    --main-color: #ffba00;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
    background-color: #f4f4f4;
}

a {
    color: #fe9900;
    text-decoration: none;
}

a:focus,
a:hover {
    text-decoration: none;
}

a:focus,
a:hover {
    color: #b26b00;
    text-decoration: underline;
}

a:active,
a:hover {
    outline: 0;
}

.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

h1 {
    margin: .67em 0;
}

p-0 {
    padding: 0 !important;
}

.bg-f5f5f5 {
    background-color: #f5f5f5;
}


/* HEADER */

.stick-scroll-menu {
    font-family: Helvetica, Arial, sans-serif;
    position: -webkit-sticky;
    position: -webkit-sticky;
    position: sticky;
    background-color: #ffba00;
    border-color: #ffa100;
    top: 0;
    width: 100%;
    font-size: 14px;
    z-index: 1000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition-property: height;
    -webkit-transition-duration: .1s;
    -webkit-transition-property: height;
    transition-property: height;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
}


/* MENU */

.stick-scroll-menu-nav {
    display: flex;
    min-width: 320px;
    margin: 0 auto;
}

.stick-scroll-menu-nav-left {
    flex: 0.3 1 auto;
    justify-content: flex-start;
}

.header-logo {
    height: 52px;
    display: inline-flex;
    align-items: center;
}

.header-logo-img {
    height: 30px;
}

.stick-scroll-menu-nav-right {
    flex: 0.7 0 auto;
    justify-content: flex-end;
}

.navItem {
    float: right;
    height: 45px;
    line-height: 45px;
    padding: 0 22px;
    cursor: pointer;
}

.navItem:first-child {
    padding-right: 0;
}

.navItem-menuMore-menuWrapper {
    position: relative;
    height: 100%;
}

.navItem-Header-navItemLink::after {
    display: none;
}

.navItem-Header-navItemLink {
    color: #000000;
    text-decoration: none;
    display: block;
    position: relative;
}

.navItem-Header-navItemLink:hover {
    color: #000;
    opacity: .6;
}

.navItem-Header-navItemLink .navItem-badge-wrapper{
    width: 30px;
    position: absolute;
    top: 5px;
    left: -3px;
}

.navItem-badge-wrapper .navItem-Header-badge{
    min-width: 10px;
    padding: 1.5px 2.5px 3px 2.5px;
    font-size: 10px;
    font-weight: 600;
    color: #fff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    background-color: #e30127;
    border-radius: 4px;
    text-align: center;
    display: none;
    float: right;
    box-sizing: unset;
}

.navItem-badge-wrapper .navItem-Header-badge.notification{
    display: block;
}

.layout-mobile-menu-item .navItem-badge-wrapper{
    left: 22px;
}

.navItem-Header-icon {
    width: 22px;
    height: 22px;
    vertical-align: middle;
}

.navItem-span {
    margin-left: 7px;
    max-width: 130px;
    height: 45px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    float: right;
    overflow: hidden;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    -webkit-letter-spacing: normal;
    -moz-letter-spacing: normal;
    -ms-letter-spacing: normal;
    letter-spacing: normal;
}

.navItem-Notification-menuWrapper {
    position: relative;
    height: 100%;
}

.dropdown-item.active, .dropdown-item:active {
    color: inherit;
    text-decoration: none;
    background-color: inherit;
}

.navItem-dropdown {
    position: absolute;
    width: 300px;
    height: auto;
    max-height: calc(100vh - 45px);
    right: -23px !important;
    left: auto !important;
    background: #fff;
    padding: 10px 0;
    border-radius: .25rem;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-top: none;
    z-index: 9999;
    display: none;
}

.navItem-dropdown.active {
    display: block;
}

.navItem-dropdown a {
    color: inherit;
    text-decoration: none;
}

.menuMore-listItemWrapper {
    padding: 0 10px;
}

.userMenuItem {
    position: relative;
    padding: 10px;
}

.userMenuItem-left {
    display: block;
    background-image: url(../img/default_user.png);
    background-size: 100% 100%;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    float: left;
}

.userMenuItem-right {
    margin-top: 20px;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    width: calc(100% - 100px);
}

.userMenuItem-above {
    display: block;
    color: #000;
    text-decoration: none;
    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.userMenuItem-below {
    color: #9b9b9b;
    display: block;
    font-size: 12px;
    padding: 5px 0;
    text-decoration: none;
    line-height: normal;
}

.userMenuItem-reward {
    border-top: 1px solid #f4f4f4;
    display: block;
    color: #9b9b9b;
    line-height: 20px;
    padding-top: 10px;
    text-decoration: none;
}

.menuListItem {
    display: block;
    clear: both;
    height: 38px;
    line-height: 38px;
    text-decoration: none;
    color: #000;
}

.menuLeftItem {
    float: left;
    margin: 0 10px;
}

.menuLeftItem-icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.menuRightItem {
    float: left;
}

.menuMore-mobile {
    display: none;
    position: fixed;
    left: 0;
    width: 100%;
    height: calc(100% - 45px);
    background: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 5px 0;
    z-index: 1001;
}

.layout-menuMore-mobile {
    display: flex;
    height: 100%;
    grid-template-columns: repeat(5, 1fr);
    padding: 0;
    margin: 0;
    list-style: none;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
}

.navItem-mobile {
    overflow: auto;
    margin-bottom: 130px;
    width: 100%;
}

.navItem-mobile a {
    color: inherit;
    text-decoration: none;
}

/* MENU */


/* SEARCH */

.stick-scroll-menu-search {
    height: 48px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    top: 50px;
    -webkit-transition-property: top;
    -webkit-transition-duration: .5s;
    -webkit-transition-property: top;
    transition-property: top;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}

.stick-scroll-menu-search-sub {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search-box {
    width: 65%;
    display: inline-flex;
}

.search-span {
    width: 100%;
    display: inline-block;
    position: relative;
}

.search-border {
    width: calc(100% - 80px);
    height: 36px;
    background-color: #ffffff;
    border-radius: 5px;
    border: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    -webkit-transition-property: width;
    -webkit-transition-duration: .2s;
    -webkit-transition-property: width;
    transition-property: width;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
}

.search-group-button {
    right: 8px;
    top: 0;
    position: absolute;
    width: 100px;
    height: 100%;
    float: right;
    z-index: 1;
}

.btn-search-group {
    width: 110px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    height: auto;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    outline: none;
    z-index: 2;
    flex: 0 0 auto;
    border-right: 1px solid #f5f5f5;
}

.btn-search-group:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn-search {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    z-index: 1;
    width: 22px;
    float: right;
    height: 100%;
    padding: 0;
    box-shadow: none;
}

.btn-bookmark {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    z-index: 1;
    width: 25px;
    float: right;
    height: 100%;
    padding: 0;
    box-shadow: none;
}

.search-input {
    width: calc(100% - 80px);
    height: 36px;
    background-color: #ffffff;
    border-radius: 5px;
    border: none;
    position: relative;
    padding: 0;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    -webkit-letter-spacing: normal;
    -moz-letter-spacing: normal;
    -ms-letter-spacing: normal;
    letter-spacing: normal;
    outline: none;
    color: #222;
    text-indent: 12px;
}

.search-action-box {
    display: block;
}

.search-navItem-sub {
    float: right;
    height: 36px;
    line-height: 36px;
    padding: 0 5px;
    cursor: pointer;
}

.search-navItem-sub:last-child {
    padding-right: 0;
}

.navItem-Header-primaryButton {
    height: 30px;
    text-align: center;
    text-transform: uppercase;
    background: #fc9807;
    color: #fff;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-weight: bold;
    line-height: 0.33;
    letter-spacing: normal;
    border-radius: 4px;
    padding: 9.5px 20px;
    text-decoration: none;
}

img.navItem-Header-icon.login-avatar {
    width: 30px;
    height: 30px;
}

.navItem-Header-primaryButton:hover {
    background: #e68d0c;
    text-decoration: none !important;
}

.listAutocomplete {
    display: none;
    top: 43px;
    left: 0px;
    position: absolute;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 1001;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
    max-height: 350px;
    overflow: auto;
    border-radius: 5px;
}

.listAutocomplete-item {
    cursor: pointer;
    padding: 7px 16px;
    position: relative;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}


/* SEARCH */


/* MENU MOBILE */

.stick-scroll-menu-nav-mobile {
    display: none;
}

.layout-mobile-menu {
    display: flex;
    height: 100%;
    grid-template-columns: repeat(5, 1fr);
    padding: 0;
    margin: 0;
    list-style: none;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
}

.layout-mobile-menu-item {
    flex: 1 1 auto;
    text-align: center;
    position: relative;
}

.layout-mobile-menu-item .navItem {
    float: none;
    height: 100%;
}

.mobile-navItem-span {
    display: block;
    font-size: 11px;
    line-height: initial;
    height: 17px;
    width: 100%;
    bottom: 0;
    position: absolute;
    color: #000;
}

.layout-mobile-menu-item .navItem-Header-navItemLink {
    float: none;
    height: 100%;
}

.layout-container-mobile-svg {
    position: absolute;
    bottom: 62px;
    text-align: center;
    left: calc(50% - 35px);
    width: 70px;
    height: 7px;
}

.layout-container-mobile-svg > img {
    width: 100%;
}

.header-primaryCircleButton {
    width: 70px;
    height: 70px !important;
    background: #ffba00;
    color: #fff;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.7 !important;
    letter-spacing: normal;
    border-radius: 50%;
    text-decoration: none;
    position: absolute;
    left: calc(50% - 35px);
    top: -10px;
    padding: 0 !important;
}


/* MENU MOBILE */


/* HEADER */


/* FOOTER */

footer {
    font-family: Helvetica, Arial, sans-serif;
    border-top: 10px solid #f4f4f4;
    background-color: #ffffff;
}

.desktopFooter {
    background-color: #ffff;
    font-size: 12px;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    display: none;
}

.desktopFooter-container {
    margin: 0 auto;
}

.desktopFooter-container-top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 12px;
}

.desktopFooter-item {
    text-align: left;
}

.desktopFooter-heading {
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif !important;
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #15181f;
    text-transform: uppercase;
}

.desktopFooter-item-row {
    display: flex;
    flex-direction: row;
    padding: 0;
    text-align: left;
}

.desktopFooter-item-in-row {
    padding-right: 12px;
}

.desktopFooter-item {
    text-align: left;
}

.app-img-qr {
    width: 87px;
    height: 87px;
}

.desktopFooter-item-in-row {
    padding-right: 12px;
}

.app-Footer-ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 0;
    flex-direction: column;
}

.desktopFooter-li {
    margin-right: 16px;
}

.desktopFooter-li {
    font-size: 14px;
    margin: 0;
    line-height: 1.29;
    padding: 0;
    margin-bottom: 12px;
}

.app-Footer-a,
.app-Footer-a:hover {
    color: #4a4a4a;
    font-family: Helvetica, Arial, sans-serif !important;
    text-decoration: none;
}

.desktopFooter-item-col {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    text-align: left;
}

.desktopFooter-hr-bottom {
    border-top: 1px solid #f4f4f4;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.desktopFooter-container-bottom {
    margin-top: 20px;
}

.desktopFooter-address {
    color: #9b9b9b;
    font-family: Helvetica, Arial, sans-serif !important;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
}

.app-Footer-ul-row {
    display: flex;
    flex-direction: row;
    width: 100px;
}

.mobileFooter {
    background-color: #ffff;
    font-size: 12px;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    display: block;
    margin-bottom: 80px;
}

.app-Footer-ul-mobile {
    list-style-type: none;
    margin: 0 12px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    flex-direction: row;
}

.mobileFooter-appInstall {
    max-width: 100%;
    height: auto;
    width: 100%;
}

.mobileFooter-section {
    margin: 15px 0;
}

.mobileFooter-li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.mobileFooter-li a {
    font-size: 11px;
}

.mobileFooter-section.sub-ul {
    width: 42%;
    margin: 0 auto;
}


/* FOOTER */


/* LOGIN */

.form-container {
    border: 1px solid #EFEFEF;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
    width: 450px;
    margin: 12px auto 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.form-container .form-title {
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
    background: #fff;
    border-bottom: 1px solid #EFEFEF;
    text-align: center;
    font-size: 16px;
    padding: 8px 15px;
    font-weight: 700;
}

.form-container p {
    line-height: 19px;
}

.form-container > form {
    font-size: 12px;
    padding: 15px;
    width: 450px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-container > form input[type='text'],
.form-container > form input[type='password'],
.form-container > form input[type='tel'],
.form-container > form input[type='number'] {
    padding: 5px 15px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #EFEFEF;
    font-size: 13px;
    margin-bottom: 10px;
}

.form-container > form .form-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0 10px 0;
}

.form-container > form input[type='checkbox'] {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
}

.form-container > form .form-group > label {
    padding-left: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: normal;
    margin: 0;
    cursor: pointer;
}

.form-container > form .btn {
    margin-bottom: 10px;
    width: 100%;
    color: #fff;
    font-size: 12px;
}

form .btn-login {
    font-weight: 700;
    background: #fc9827;
    font-size: 14px;
}

form .btn-remember {
    background: #ebebeb;
    margin-bottom: 0 !important;
    color: #000 !important;
}

.form-container > form .form-separator {
    color: #ccc;
    margin: 15px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.form-container > form .form-separator:before,
.form-container > form .form-separator:after {
    display: block;
    content: '';
    border-top: 1px solid #EFEFEF;
    width: -webkit-calc(50% - 25px);
    width: calc(50% - 25px);
}

.form-container > form .form-group:last-child {
    margin-bottom: 0;
}

.login-fb {
    background: #385794;
    color: #fff;
}

.form-container > form .form-group > a.btn:first-child {
    margin-left: 0;
}

.form-container > form .form-group.group-2 > a.btn {
    width: -webkit-calc(50% - 5px);
    width: calc(50% - 5px);
}

.form-container > form .form-group > a.btn {
    margin: 0 5px;
    display: block;
}

.form-container > form .btn {
    margin-bottom: 10px;
    width: 100%;
    color: #fff;
    font-size: 12px;
}

form a {
    color: #fe9900;
    text-decoration: none;
}

.register-span {
    margin-top: 15px;
    text-align: center;
    border-top: 1px solid #ececec;
    padding-top: 10px;
    font-size: 14px;
}

.register-span-login {
    text-align: center;
    margin: 0;
    font-size: 14px;
}

.register-span-login a {
    color: #0000EE !important;
    text-decoration: none;
    cursor: pointer;
}

.form-container > form input[type='checkbox'] {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
}


/* LOGIN */


/* BREADCRUMB */

.breadcrumb {
    display: block;
}

.breadcrumb-content {
    margin: 0;
    background-color: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0;
}

.breadcrumb-content .item-infor {
    font-size: 11px;
    display: inline;
    color: #33659c;
}

.item-infor > a {
    color: #33659c;
}

.btn-toolbar {
    margin-left: -5px;
    padding: 0 10px;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn-toolbar .btn,
.btn-toolbar .btn-group,
.btn-toolbar .input-group {
    float: left;
}

.next-ad {
    outline: none;
    display: inline-block;
    position: relative;
    background: #fdce09;
    border: 0;
}

.next-ad:hover {
    outline: none;
    background: #6c5701;
}

.next-ad:active {
    outline: none;
    background: #6c5701;
}

.next-ad:after {
    content: '';
    display: block;
    position: absolute;
    right: -11px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 14px 13px;
    border-color: transparent transparent transparent #fdce09;
}

.next-ad:hover:after {
    outline: none;
    border-left-color: #6c5701;
}

.next-ad:active:after {
    outline: none;
    border-left-color: #6c5701;
}

.back-to-listing {
    outline: none;
    display: inline-block;
    position: relative;
    background: #f1f1f1;
    border: 0;
}

.back-to-listing:after {
    content: '';
    display: block;
    position: absolute;
    left: -11px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 13px 14px 0;
    border-color: transparent #f1f1f1 transparent transparent;
}

.breadcrumb-item:last-child > a {
    color: black !important;
}

.slick-arrow {
    opacity: 0.3;
    outline: none;
    background: black;
    border: 0;
    color: white;
    font-size: 2em;
    position: absolute;
    top: 45%;
}

.slick-prev {
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    padding: 0 13px 0 10px;
    left: 0;
    z-index: 1;
}

.slick-next {
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    padding: 0 10px 0 13px;
    right: 0px;
}

.slick-span {
    background: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: .8;
    text-align: right;
    padding: 4px;
}

.slick-span span {
    display: inline-block;
    vertical-align: middle;
    color: whitesmoke;
    margin-right: 4px;
}


/* BREADCRUMB */


/* INFORMATION */

.main-content {
    border: 1px solid #E5E5E5;
    padding-top: 8px;
    margin-bottom: 15px;
    background: #fff;
}


/* SLIDER */

.slider-wrapper {
    position: relative;
    -webkit-box-shadow: 0 0.5px 0 rgba(148, 148, 148, 0.3);
    box-shadow: 0 0.5px 0 rgba(148, 148, 148, 0.3);
    overflow: hidden;
}

.slider-wrapper-content {
    background-image: url(../img/slide.svg);
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% auto;
    position: relative;
    max-height: 300px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slider-wrapper-content :before {
    content: '';
    float: left;
    padding-bottom: 75%;
}

.slider-wrapper-content .inner {
    height: 300px;
}

.slick-slider {
    background-color: #eee;
    margin-bottom: 0 !important;
}

.slick-slider img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.prev {
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    padding: 0 13px 0 10px;
    left: 0;
    z-index: 1;
}

.slide-btn {
    opacity: 0.3;
    outline: none;
    background: black;
    border: 0;
    color: white;
    font-size: 2em;
    position: absolute;
    top: 45%;
}

.next {
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    padding: 0 10px 0 13px;
    right: 0px;
}

.slick-slider a {
    height: 100%;
    width: 100%;
    cursor: zoom-in;
}


/* SLIDER */

.content-wrapper-header {
    font-size: 16px;
    font-weight: bold;
}

.content-offers {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.content-offers-price {
    display: inline-block;
    margin: 0;
    background-color: transparent;
    padding: 0;
    max-width: 100%;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: calc(100% - 30px);
}

.price-span {
    color: #c90927;
    font-weight: bold;
    line-height: 25px;
    font-size: 16px;
}

.acreage {
    color: #000;
    opacity: 0.7;
    line-height: 25px;
    font-size: 14px;
}

.save-new {
    margin-top: -7px;
}

.btn-save-new {
    background: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    border: 1px solid #c90927;
    border-radius: 20px;
    padding: 5px 10px;
    color: #c90927;
}

.user-wrapper {
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    padding: 15px 0;
    display: table;
    width: 100%;
    margin-bottom: 10px;
}

.user-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #333;
}

.user-info:focus,
.user-info:hover {
    text-decoration: none;
}

.img-avatar {
    height: 50px;
    width: 50px;
}

img.img-avatar {
    border: 2px solid #E5E5E5;
    margin: -5px;
}

.user-information {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 8px;
}

.user-info-name {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.name {
    margin: 5px 5px 3px 0;
    font-size: 13px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.btn-user {
    background-color: #fff;
    color: #fe9900;
    border: 1px solid #fe9900;
}

.btn-user-info {
    cursor: pointer;
    text-align: center;
    -webkit-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
    font-size: 10px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    border-radius: 20px;
    padding: 7px 10px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.user-online {
    font-size: 11px;
    color: rgb(155, 155, 155);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.user-online-span {
    font-size: 20px;
    color: rgb(155, 155, 155);
    line-height: 21px;
    margin-right: 5px;
}

.user-info-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-around;
    -webkit-justify-content: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    padding-top: 10px;
    text-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
}

.info-item {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.info-item > p {
    font-size: 12px;
    color: rgb(155, 155, 155);
    margin-bottom: 5px;
    -webkit-text-decoration: initial;
    text-decoration: initial;
}

.info-item > span {
    color: #000;
    font-weight: 600;
}

.info-item img {
    margin-right: 0px !important;
}

.info-space {
    border-left: 1px solid rgb(202, 202, 202);
    height: 20px;
    width: 1px;
}

.user-info-list > a {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.info-rate {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.info-rate > p {
    font-size: 12px;
    color: rgb(155, 155, 155);
    margin-bottom: 5px;
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

.info-rate > span {
    color: #000;
    font-weight: 600;
}

.media {
    zoom: 1;
    overflow: hidden;
}

.media-middle {
    vertical-align: middle;
}

.media-body,
.media-left {
    display: table-cell;
    vertical-align: top;
}

.icon-address {
    background-position: center center;
    display: inline-block;
    height: 24px;
    width: 24px;
    background-size: contain !important;
    vertical-align: middle;
    margin-right: 5px;
    background: url(../img/address.png) no-repeat;
    background-size: contain;
}

.description {
    margin-top: 10px;
}

.address-item {
    margin-bottom: 10px;
    height: 31px;
    font-size: 13px;
    padding: 0 10px;
}

.address-icon {
    background-position: center center;
    display: inline-block;
    height: 24px;
    width: 24px;
    background-size: contain !important;
    vertical-align: middle;
    margin-right: 5px;
}

.icon-phone {
    background: url(../img/phone-icon.png) no-repeat;
    background-size: contain;
}

.icon-acreage {
    background: url(../img/acreage.png) no-repeat;
    background-size: contain;
}

.icon-price {
    background: url(../img/price.png) no-repeat;
    background-size: contain;
}

.icon-bedroom {
    background: url(../img/bedroom.png) no-repeat;
    background-size: contain;
}

.icon-west {
    background: url(../img/west.png) no-repeat;
    background-size: contain;
}

.icon-toilet {
    background: url(../img/toilet.png) no-repeat;
    background-size: contain;
}

.icon-type-house {
    background: url(../img/type-house.png) no-repeat;
    background-size: contain;
}

.icon-area-use {
    background: url(../img/area-use.png) no-repeat;
    background-size: contain;
}

.icon-bad {
    background: url(../img/bad.png) no-repeat;
    background-size: contain;
}

.jogpc {
    cursor: pointer;
    margin: 10px 5px 0 10px;
    display: inline-block;
}

.censorship {
    padding-left: 5px !important;
    padding-right: 5px !important;
    margin-top: 15px;
}

.censorship-wrapper {
    padding: 7px 5px 5px 0 !important;
    border-top: 1px solid #ececec;
}

.censorship-img {
    width: 40px;
    float: left;
    padding-right: 5px;
}

.censorship-div {
    width: 85%;
    float: left;
    padding-bottom: 5px;
}

.report-wrapper {
    width: 100%;
    display: block;
    margin: 0 0 10px;
}

.report-btn {
    color: #d0021b !important;
}

.report-btn-buy {
    margin: 5px;
}

.btn-phone {
    display: block;
    margin-bottom: 0;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 10px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 13px;
    -webkit-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
    color: #fff !important;
    background-color: #33a837;
}

.btn-phone:hover {
    background-color: #3B8122;
}

.phone-wrapper,
.mess-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.phone-img {
    display: inline-block;
    height: 24px;
    width: 24px;
    vertical-align: middle;
    margin-right: 10px;
}

.btn-mess {
    display: block;
    margin-bottom: 0;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid #ccc;
    white-space: nowrap;
    padding: 8px 10px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 13px;
    color: #3c763d;
    background-color: #fff;
    font-weight: 600;
    text-align: center;
    -webkit-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
}

.btn-mess:hover,
.btn-mess:focus,
.btn-mess:active {
    background-color: #e6e6e6;
    color: #3c763d;
}

.mess-img {
    display: inline-block;
    height: 24px;
    vertical-align: middle;
    margin-right: 10px;
}

main .nav .nav-item select {
    border: none;
    height: 100%;
}

.filter .select-dropdown-menu {
    width: 340px;
    cursor: pointer;
    background: padding-box rgb(255, 255, 255);
    border-radius: 4px;
    margin: 0px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: 0px;
    z-index: 100000;
    padding: 0px;
    overflow-y: auto;
    position: absolute;
    transform: translate3d(0px, 38px, 0px) !important;
    top: 0px;
    max-height: 475px;
}
.filter .select-dropdown-menu .info-tab{
    display: none;
}
.select-dropdown-menu ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

.select-dropdown-menu ul li {
    height: 40px;
    border-bottom: 1px solid #cacaca;
    padding-left: 10px;
}

.select-dropdown-menu ul li:hover {
    background: rgb(244, 244, 244);
}

.select-dropdown-menu ul li a:hover {
    background-color: inherit !important;
}
.select-dropdown-menu ul li a span {
    line-height: 40px;
    margin-left: 15px;
    max-width: 278px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: Helvetica;
    font-size: 14px;
    position: absolute;
    color: black;
}

.select-dropdown-menu ul li a img.next-icon {
    display: none;
    position: absolute;
    right: 0;
    width: 16px;
    height: 16px;
    margin: 12px 10px;
}

.select-dropdown-menu ul li.active a img.next-icon {
    display: block;
}


.select-dropdown-menu ul li a img.pre-icon {
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
    margin: 12px 10px;
}
/* INFORMATION */


/* DETAILS TABLE */

.details-table {
    border: 1px solid #dee2e6 !important;
}

.details-table .label {
    min-width: 190px;
    font-size: 13px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}


/* DETAILS TABLE */


/* BANNER SLIDER */

.banner-slick {
    margin: 0px auto;
    max-width: 100%;
    max-height: 250px;
}

.banner-slick img {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.banner-slick .slick-list {
    border-radius: 5px;
}

.banner-slick .slick-track,
.banner-slick .slick-slide {
    max-height: 250px;
}

.slick-slide:focus {
    outline: none !important;
}


/* BANNER SLIDER */


/* CATEGORY */

.header-titler {
    font-size: 16px;
    margin: 0px 0px 12px 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: rgb(34, 34, 34);
}

.category-item {
    height: 92px;
    outline: none;
    position: relative;
    list-style: none;
    cursor: pointer;
    flex: 1 1 33.33%;
    border-right: 1px solid rgb(244, 244, 244);
}

.category-item a:hover {
    text-decoration: none !important;
    background: rgb(244, 244, 244);
}

.category-dropdown {
    background-size: cover;
    align-items: center;
    text-decoration: none;
    height: 100%;
    padding: 15px 0px;
    margin-right: -1px;
}

.category-dropdown:hover {
    background-color: rgb(244, 244, 244);
}

.category-dropdown:after {
    display: none;
}

.category-img {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    flex-basis: 30%;
    outline: none;
    user-select: none;
}

.category-dropdown-text {
    color: rgb(34, 34, 34);
    line-height: 1.33;
    font-size: 18px;
    margin-bottom: 4px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
}

.category-dropdown-subtext {
    color: rgb(155, 155, 155);
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
}

.category-dropdown-subtext b {
    font-size: 14px;
}

.dropdown-list-menu {
    display: none;
    position: absolute;
    top: 92px;
    background-color: rgb(255, 255, 255);
    width: calc(100% + 1px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 10px 0px;
    z-index: 10;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
}

.dropdown-list-menu-text {
    padding: 12px 16px;
    border-top: 1px solid rgb(244, 244, 244);
    font-size: 14px;
    height: 45px;
    text-decoration: none;
    display: block;
}

.dropdown-list-item {
    padding: 12px 16px;
    border-top: 1px solid rgb(244, 244, 244);
    font-size: 14px;
    height: 45px;
    text-decoration: none;
    display: block;
    --text-opacity: 1;
    color: rgba(34, 34, 34, var(--text-opacity));
}

.dropdown-list-item:hover {
    background-color: rgb(244, 244, 244);
}

/* CATEGORY */


/* PRODUCT SLIDE */

.wrapper,
.wrapper-follow,
.wrapper-grid {
    background-color: inherit;
}

.wrapper {
    border-top: 1px solid rgb(244, 244, 244);
    border-bottom: 1px solid rgb(244, 244, 244);
}

.product-card {
    padding: 12px;
    border: none;
    border-right: 1px solid #f4f4f4;
    border-radius: 0;
    cursor: auto !important;
    text-decoration: none !important;
    color: inherit;
}

.product-card:hover {
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, .3);
    z-index: 2;
    color: inherit;
}

.camera {
    position: absolute;
    top: 8px;
    left: 8px;
    background: url(../img/camera.svg) no-repeat;
    width: 24px;
    height: 20px;
    font-weight: 700;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.camera-text {
    font-size: 11px;
    line-height: 1.09;
}

.cs-card-header {
    padding: 0 !important;
    border: none !important;
    position: relative;
}

.save {
    position: absolute;
    right: 8px;
    bottom: 4px;
    z-index: 9;
}

.save .btn_save {
    padding: 0;
    background: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

.product-card .card-body {
    padding: 0;
    padding-bottom: 8px;
    position: relative;
}

.product-card .card-body .card-title {
    color: #222;
    font-size: 14px !important;
    line-height: 20px !important;
    text-decoration: none;
    white-space: unset;
    margin-top: 8px;
    height: 40px !important;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

.card-body .condition {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 22px;
}

.card-body .condition span {
    font-size: 14px;
    line-height: 1.43;
    color: #9b9b9b;
    margin-top: 2px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}

.card-body .price {
    font-size: 12px;
    font-weight: 700;
    line-height: 1.2;
    color: #d0021b;
    display: inline-block;
    margin: 2px 4px 0 0;
}

.product-card a {
    color: inherit;
    text-decoration: none;
    cursor: default;
}

.card .card-footer {
    color: #9b9b9b;
    bottom: -6px;
    width: 100%;
    left: 0;
    display: flex;
    border: none;
    background-color: inherit;
    padding: 0;
}

.product-card .postTime {
    vertical-align: middle;
    display: inline-block;
    font-size: 11px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: capitalize;
    margin-top: 2px;
}

.product-card .postTime .postTime-text {
    font-size: 11px;
    margin: 0 3px;
}

.product-card .postTime.location {
    max-width: 100px;
}

.product-card .postTime.location .postTime-text {
    margin-right: 0;
}

.deviderWrapper {
    display: inline-block;
}

.deviderWrapper:after {
    font-size: 14px;
    vertical-align: middle;
    content: "\B7";
    display: inline-block;
}

.wrapper-follow .product-card {
    margin: 8px;
}

.wrapper-follow .product-card {
    border: 1px solid #e6e2e2;
}

.i-prev {
    top: 47%;
    background: url(../img/slide-prev.svg) 50% no-repeat;
    left: -15px;
    z-index: 11;
    position: absolute;
    background-size: 100%;
    width: 38px;
    height: 38px;
    cursor: pointer;
    opacity: 1;
}

.i-next {
    top: 47%;
    background: url(../img/slide-next.svg) 50% no-repeat;
    right: -15px;
    z-index: 11;
    position: absolute;
    background-size: 100%;
    width: 38px;
    height: 38px;
    cursor: pointer;
    opacity: 1;
}

.i-prev:hover {
    width: 62px;
    height: 62px;
    top: 42%;
    left: -27px;
}

.i-next:hover {
    width: 62px;
    height: 62px;
    top: 42%;
    right: -27px;
}


/* PRODUCT SLIDE */

:root {
    --main-color: #ffba00;
}

.stick-scroll-menu {
    position: sticky;
    top: 0;
    z-index: 1000;
}

header {
    border-color: #ffa100;
    position: sticky;
    font-family: Helvetica, Arial, sans-serif;
    top: 0;
    width: 100%;
    font-size: 14px;
    z-index: 1000;
}

#menu2::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

header .nav-link {
    font-family: Helvetica, Arial, sans-serif !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    float: right;
    color: #000;
    float: right;
    overflow: hidden;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    margin-left: 7px;
}

.active-link:hover {
    opacity: 0.6;
    transition: 0.75s;
}

#more {
    display: none;
}

.pd-10 {
    padding: 10px;
}

.border-search {
    border-radius: 5px;
}

.bg-color {
    background-color: var(--main-color);
}

header + .bg-color input.form-control:focus {
    background: none !important;
    box-shadow: unset;
}

header + .bg-color input.form-control {
    border-radius: 5px;
}

main,
.sub-footer {
    background-color: #f4f4f4;
}

.btn-cus-primary {
    text-align: center;
    text-transform: uppercase;
    background: #fc9807;
    color: #fff;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    line-height: .33;
    letter-spacing: normal;
    border-radius: 4px;
    padding: 9.5px 20px;
    text-decoration: none;
    border: unset;
    display: inline;
}

.pd-l-10 {
    padding-left: 10px;
}

.mg-l-10 {
    margin-left: 10px;
}

.mg-tb-10 {
    margin: 10px 0;
}

.bg-unset {
    background: unset !important;
}

.breadcrumb a {
    color: #33659c !important;
}

.breadcrumb {
    font-size: 11px;
}

.h1-cus {
    font-size: 16px;
    font-weight: bold;
    font-family: Verdana;
    margin: 0 0 15px 0;
}

main .nav .nav-item a {
    cursor: pointer;
    line-height: 40px;
    padding: 0 5px;
    font-family: helvetica;
    color: #9b9b9b;
    font-size: 12px;
}

main .nav-link.active {
    font-weight: bold;
    color: #000 !important;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    border-bottom: 3px solid #fecc00;
    transition: opacity 0.5s;
}

main li.nav-item {
    margin: 0 auto;
    padding: 0;
}

/*Dropdown fillter*/


.btn-select-price ul {
    padding-bottom: unset !important;
}

.btn-select-price ul li > a {
    text-decoration: none;
    color: #000;
}

.btn-select-price ul li a > div .value-rg,
.value-rg-2 {
    color: #000 !important;
    font-weight: bold;
    font-size: 14px !important;
}

.btn-select-price > button, .btn-select-address > button {
    background: #fff;
    border: 1px solid #d7dbe0;
}

.btn-select-price > button:hover, .btn-select-address > button:hover {
    border: 1px solid rgb(254, 204, 0);
    background: #fff;
    box-shadow: unset !important;
}

.btn-select-price > button:focus,
.btn-select-address > button:focus,
.btn-fix {
    outline: unset;
}

.btn-fix:focus, .btn-fix:active {
    box-shadow: unset !important;
    color: #888;
    outline: none !important;
}

.btn-dropdown{
    height: calc(1.5em + .75rem + 5px);
    cursor: pointer;
    background: #ffffff;
    border: 1px solid #cacaca;
    border-radius: 4px;
    position: relative;
}
.btn-dropdown:hover{
   opacity: inherit;
}

.btn-dropdown span{
    line-height: calc(1.5em + .75rem + 5px);
    margin-left: 12px;
    max-width: 70%;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: Helvetica;
    font-size: 14px;
    position: absolute;
}

.btn-dropdown img{
    position: absolute;
    right: 0;
    width: 14px;
    height: 14px;
    margin: 10px 10px;
}
.btn-dropdown::after{
    display: none
}

.list-article .card img {
    max-height: 150px;
    overflow: hidden;
}

.sub-img-fix {
    max-height: 220px;
    overflow: hidden;
}

.list-article .pagination-article {
    width: 100%;
    margin: 20px 0;
}

.list-article .col-md-4 {
    margin-top: 10px;
}

.list-article {
    margin-top: 20px;
}

.list-article .card {
    overflow: hidden;
}

.list-article .pro-hot {
    position: absolute;
    display: block;
    padding: 0 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 9;
    height: 40px;
    line-height: 55px;
    top: -8px;
    right: -30px;
    font-size: 12px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: rgb(245, 154, 0);
    border-color: rgb(245, 154, 0);
    color: rgb(255, 255, 255);
}

.btn-select-price > .presentation input {
    background: red;
}

.text-bold {
    font-weight: bold;
}


.filter .dropbtn:hover,
.dropbtn:focus {
    border: 1.5px solid rgb(254, 204, 0);
    outline: none;
}

.filter .dropdown {
    position: relative;
    display: inline-block;
}

.filter .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.filter .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.filter .dropdown a:hover {
    background-color: #f4f4f4;
}

.filter .show {
    display: block;
}

.filter .cs-dropdown-menu {
    width: 340px;
    cursor: pointer;
    background: padding-box rgb(255, 255, 255);
    border-radius: 4px;
    margin: 0px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: 0px;
    z-index: 100000;
    list-style-type: none;
    padding: 0px;
    overflow-y: auto;
    position: absolute;
    transform: translate3d(0px, 38px, 0px);
    top: 0px;
    max-height: 475px;
}

.border-root {
    border: 1px solid #dee2e6;
    margin-top: 15px;
}

.border-root > .fix {
    margin-top: unset !important;
}

.filter {
    background-color: #f4f4f4;
    padding: 10px 10px 0 10px;
}

.filter .form-control {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: Helvetica;
}

.pos-rel {
    position: relative;
}

.sub-footer a#myBtn {
    color: #33659c;
    float: right;
}

.sub-footer {
    padding-top: 30px;
}

.sub-footer h2 {
    font-size: 12px;
    color: #888;
}

.text-sub-footer,
#myBtn {
    margin: 0 0 5px;
    color: #888;
    font-size: 11px;
    line-height: 16px;
    text-align: justify;
}

.footer {
    padding: 30px 0;
}

.footer .list-group-item {
    border: unset;
    font-size: 14px;
    line-height: 1.29;
}

.footer .list-group-item:hover {
    cursor: pointer;
}

.footer-headline {
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif !important;
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #15181f;
    text-transform: uppercase;
}

.coppy-right address {
    text-align: center;
    color: #9b9b9b;
    font-family: Helvetica, Arial, sans-serif !important;
    font-size: 12px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
}

.coppy-right {
    margin-top: 20px;
}

.pr-camera {
    font-size: 11px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: url(../img/camera.svg) no-repeat;
    background-size: 30px;
    width: 30px;
    height: 30px;
    font-weight: 700;
    color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.pr-camera span {
    position: absolute;
    top: 5px;
    right: 11px;
}

.pr-card-title a {
    width: 100%;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: black;
    max-height: 35px;
    line-height: 17px;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer
}

.pr-save {
    position: absolute;
    right: 8px;
    bottom: 10px;
    z-index: 9;
}

.glyphicon {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 5px;
    color: darkgrey;
    font-size: 20px;
    top: 5px;
}

.glyphicon:hover, .glyphicon:focus {
    outline: none !important;
}

#list.active, #grid.active {
    color: #000000;
}

.pr-save .btn_save {
    padding: 0;
    background: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

.cs-content-list {
    border: 1px solid #cacaca;
}

/*INDEX*/

/*PAGINATIOn*/
.cs-pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.cs-pagination li {
    display: inline;
}

.cs-pagination li a {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: black !important;
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.cs-pagination li a.first {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.cs-pagination li a.active {
    z-index: 2;
    color: #fff;
    background-color: #FFD100;
    border-color: #FFD100;
}

.cs-pagination li a:hover {
    color: #014c8c;
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: #eceeef;
    border-color: #ddd;
}

/*PAGINATIOn*/

.cs-nav-dropdown .dropdown button {
    border: none;
    padding: 0;
    line-height: 38px;
    width: 100%;
    -webkit-border-radius: 0;
    border-radius: 0;
    text-align: center;
    position: absolute;
}

.cs-nav-dropdown .dropdown .dropdown-menu {
    width: 100%;
    min-width: 144px;
}

.cs-nav-dropdown .dropdown .dropdown-menu li {
    line-height: 45px;
}

.cs-nav-dropdown .dropdown .dropdown-menu li a {
    text-align: center;
}

.none-caret {
    text-overflow: ellipsis;
    height: 100%;
}

.none-caret:hover, .none-caret:focus {
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.cs-content-list .nav-link:hover {
    border-bottom: 3px solid #fecc00;
}

.none-caret::after {
    display: none;
}


.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
}

.item.list-group-item .img-event {
    float: left;
    width: 30%;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0px;
    display: inline-block;
    width: 100%;
}

.item.list-group-item .caption {
    float: left;
    width: 70%;
    margin: 0;
}

.item.list-group-item .cs-card-footer {
    float: left;
    width: 70%;
    margin: 0;
    position: absolute;
    left: 30%;
    bottom: 0;
}

.item.list-group-item:before, .item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item:after {
    clear: both;
}

.item.list-group-item .pr-camera {
    left: 10px;
}

/*NOTIFICATION DROPDOWN*/
.notification-layoutContainer {
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    position: absolute;
    right: -21px;
    z-index: 1001;
    display: none;
    min-width: 400px;
}

.notification-layoutContainer.active {
    display: block;
}

.notification-layoutContainer .nav-tabs {
    height: 48px;
}

.notification-layoutContainer .nav-link.active {
    border-bottom: 3px solid #FFBA00;
    color: #000000;
    font-weight: bold;
}

.notification-layoutContainer .nav-link {
    color: #9b9b9b;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    width: 50%;
    text-align: center;
    position: relative;
    font-family: Helvetica, Arial, sans-serif !important;
    font-size: 14px;
    margin-left: 0;
    border: none;
    padding: 0;
}

.notification-layoutContainer .nav-item.active {
    border-bottom: 3px solid #FFBA00;
}

.notification-layoutContainer .nav-item a {
    text-decoration: none;
    color: inherit;
}

.notification-layoutContainer .nav-item:hover {
    background-color: #f4f4f4;
}

.notification-tab-content{
    max-height: 550px;
    background-color: #eee;
    overflow-y: auto;
    overflow-x: visible;
    padding: 20px 20px 0 20px;
}
.notification-tab-content .card{
    margin-bottom: 20px;
}

.notification-tab-content .card .card-unread-indicator{
    position: absolute;
    bottom: 0;
    margin-right: -1px;
    width: 100%;
    height: 5px;
    background-color: #1676d0;
}

/*NOTIFICATION DROPDOWN*/

/* NOTIFICATION MOBILE */
.notification-mobile {
    display: none;
    box-shadow: none;
    position: fixed;
    width: 100%;
    height: calc(100% - 50px);
    left: 0px;
    margin-left: 0px;
    line-height: 45px;
    z-index: 2;
    top: 52px;
}

.notification-mobile .layout-notification-mobile {
    overflow: auto;
    margin-bottom: 120px;
    height: 100%;
}

.layout-notification-mobile .nav-link.active {
    border-bottom: 3px solid #FFBA00;
    color: #000000;
    font-weight: bold;
}

.layout-notification-mobile .nav-link {
    color: #9b9b9b;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    width: 50%;
    text-align: center;
    position: relative;
    font-family: Helvetica, Arial, sans-serif !important;
    font-size: 14px;
    margin-left: 0;
    border: none;
}

.layout-notification-mobile .nav-item.active {
    border-bottom: 3px solid #FFBA00;
}

.layout-notification-mobile .nav-link a {
    text-decoration: none;
    color: inherit;
}

.layout-notification-mobile .nav-link:hover {
    background-color: #f4f4f4;
}

/* NOTIFICATION MOBILE */

/*messages*/
.cs-body {
    min-height: 100%;
    max-height: 100%;
    overflow-y: hidden;
}

.cs-messages {
    padding-top: 100px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.no-gutter {
    height: 100%;
}

.messages {
    background: #fff;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.messages .left {
    height: 100%;
}

.ThreadSection {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    border-left: 1px solid #ececec;
    color: #000
}

ul.chat.nav.nav-pills {
    cursor: pointer;
    border-right: 1px solid #ececec;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.chat.nav-pills {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.messages ul {
    list-style-type: none !important;
    padding-left: 0;
    margin: 0;
}

.ThreadSection .ChatMenu > li {
    width: 33.33%;
    text-align: center;
}

.chat.nav-pills > .active > a, .chat.nav-pills > .active > a:hover, .nav-pills > li > a:hover {
    text-decoration: none;
    border-radius: 0;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #fff2b5 !important;
    color: #000 !important;
    background-color: transparent !important;
}

.chat.nav-pills > .active > a, .chat.nav-pills > .active > a:hover {
    font-weight: 700;
}

.chat.nav-pills > li > a {
    border-radius: 0;
    border: 4px solid transparent;
    text-transform: uppercase;
}

.ThreadSection li > a, .ThreadSection li > div > a {
    color: #000;
}

.ThreadSection .ThreadList {
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-flex: 1;
    flex: 1;
    border-right: 1px solid #ececec;
}

.media-list {
    padding-left: 0;
    list-style: none;
}

.ThreadSection .ThreadList .ThreadItem {
    margin-right: -5px;
    position: relative;
    border-bottom: 1px solid #ececec;
    padding: 10px 7px;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
}

.ThreadSection .ThreadList li.ThreadItem.Active {
    background-color: #fff5b2;
}

.ThreadSection .ThreadList li.ThreadItem.noRead {
    background-color: #bbdcff;
}

.ThreadSection .ThreadList li.ThreadItem.noRead .LastMessage {
    color: #000000;
    font-weight: 600;
}

.ThreadSection .ThreadItemContent {
    margin-left: 10px;
    margin-right: 0;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    padding-right: 10px;
}

.ThreadSection .ThreadItemContent .Link-Message {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.ThreadSection .ThreadItemContent .media-left {
    position: relative;
    padding: 0 10px 0 5px;
}

.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}

.ThreadSection .ThreadList .ThreadItem .UserAvatar {
    height: 50px;
    width: 50px;
    background-origin: padding-box;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.ThreadSection .ThreadItemContent .media-body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
    flex: 1;
}

.ThreadSection .ThreadList .ThreadItem .ProductInfoDiv {
    width: 100%;
    padding-right: 5px;
    position: relative;
}

.ThreadSection .ThreadList .ThreadItem .ProductName, .ThreadSection .ThreadList .ThreadItem .UserNameTime {
    margin: 0 0 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ThreadSection .ThreadList .ThreadItem .UpdateTime, .ThreadSection .ThreadList .ThreadItem .userName {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ThreadSection .ThreadList .ThreadItem .UpdateTime {
    font-size: .8em;
    line-height: 19px;
}

.ThreadSection .ThreadList .ThreadItem .ProductName {
    font-weight: 700;
    font-size: .9em;
    color: #888;
}

.ThreadSection .ThreadList .ThreadItem .LastMessage {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #888;
    font-size: 12px;
}

.ThreadSection .ThreadList .ThreadItem .ProductImageDiv {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-size: cover !important;
    background-position: 50%;
    margin-right: 5px;
}

.hide {
    display: none;
}

.media, .media-body {
    overflow: hidden;
    zoom: 1;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-corner {
    display: none;
    height: 0;
    width: 0;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
}

::-webkit-scrollbar-track {
    background: hsla(0, 0%, 100%, .1);
}

@media screen and (max-width: 480px) {
    ::-webkit-scrollbar {
        width: 1px;
        height: 1px;
    }
}

.cs-messages::before {
    display: table;
    content: " ";
}

.cs-messages::after {
    clear: both;;
    display: table;
    content: " ";
}

.ThreadSection .ThreadList li.ThreadItem:hover {
    background-color: #ececec;
}

.ThreadMenuFooter {
    border-radius: 0;
    height: 42px;
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.btn-toolbar {
    margin-left: -5px;
}

.btn-toolbar > .btn, .btn-toolbar > .btn-group, .btn-toolbar > .input-group {
    margin-left: 5px;
}

.btn-toolbar .btn, .btn-toolbar .btn-group, .btn-toolbar .input-group {
    float: left;
}

.btn-group-xs > .btn, .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.MessageWrapper {
    height: 100%;
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;
    margin-left: -1px;
}

.MessageSectionHeader, .MessageWrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.MessageHeader .ChatNameSection {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 0;
    margin: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    position: relative;
    min-height: 49px;
}

.MessageHeader .ChatNameSection .NameWrapper {
    font-size: 14px;
    text-align: left;
    -ms-flex: 1;
    flex: 1;
    padding: 6px 12px;
    padding-left: 3px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.MessageHeader .ChatNameSection .NameWrapper .PartnerAvatar {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 50%;
}

.MessageHeader .ChatNameSection .NameWrapper .NameFeild {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    max-width: 90%;
}

.MessageHeader .ChatNameSection .NameWrapper .ActiveTime {
    font-size: 11px;
    color: #aaa;
    font-weight: 400;
    margin: 0;
}

.MessageHeader .ChatNameSection .NameWrapper .ActiveTime .Offline {
    background-color: #cacaca;
}

.MessageHeader .ChatNameSection .NameWrapper .ActiveTime .OnlineStatus {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 5px;
    display: inline-block;
}

.MessageHeader .ChatNameSection .RightTopHeaderWrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.MessageHeader .ChatNameSection .RightTopHeaderWrapper .item {
    cursor: pointer;
    color: #74bd4f;
}

.MessageHeader .ChatNameSection .RightTopHeaderWrapper .CallButton {
    -ms-flex: 4;
    flex: 4;
    padding: 0 14px;
    height: 100%;
    line-height: 49px;
    font-size: 14px;
    border-left: 1px solid rgba(0, 0, 0, .1);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.MessageHeader .ChatNameSection .RightTopHeaderWrapper .CallButton .headerIcon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.vertical-align {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.ChatTitleSection {
    padding: 7px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    min-width: 318px;
    max-width: 100%;
    overflow: hidden;
}

.media-left, .media > .pull-left {
    padding-right: 10px;
}

.ChatTitleSection .ProductImageDiv {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-size: cover !important;
    background-position: 50%;
}

.ChatTitleSection .productTitleUrl {
    text-decoration: none;
    color: #000;
}

.productTitleHeader {
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 72%;
}

.ChatTitleSection .productPrice {
    color: red;
    font-weight: 500;
    width: 80%;
}

.ChatTitleSection .adSurvey {
    vertical-align: middle;
}

.MessageSection {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
}

.MessageSection .MessageListContainer {
    -webkit-overflow-scrolling: touch;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #ececec;
    border-bottom: 1px #ececec;
    -ms-flex: 1;
    flex: 1;
}

.MessageSection .MessageListContainer .warningMsg {
    color: #000 !important;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    margin-bottom: 10px;
    background-color: #fff4d5;
    font-weight: 400;
}

.infoChat {
    font-size: 28px;
    padding: 0;
    float: left;
    color: #227bf1;
}

.MessageSection .TimeHistory {
    text-align: center;
    font-weight: 500;
    color: #a9a9a9;
}

.MessageRightWrap .RetrySendMessage {
    float: right;
    text-decoration: none;
    margin-right: 20px;
}

.MessageRightWrap .ChatBubble, .MessageRightWrap .ChatBubble .Right {
    background-color: #fff2a6;
    color: #000;
    float: right;
    margin-right: 20px;
}

.MessageRightWrap .ChatBubble {
    clear: right;
}

.MessageLeftWrapper .ChatBubble, .MessageRightWrap .ChatBubble {
    border-radius: 5px;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    margin: 10px;
    max-width: 80%;
}

.MessageLeftWrapper .ChatBubble:before, .MessageRightWrap .ChatBubble:before {
    content: "\A0";
    display: block;
    height: 16px;
    width: 9px;
    position: absolute;
    bottom: -7.5px;
}

.MessageLeftWrapper .Message, .MessageRightWrap .Message {
    font-size: 14px;
}

.MessageSection p {
    margin: 0;
}

.MessageLeftWrapper .MessageDetail, .MessageRightWrap .MessageDetail {
    word-wrap: break-word;
}

.MessageTime {
    color: #bdc1c9;
    font-size: .7em;
}

.cf {
    clear: both !important;
}

.MessageLeftWrapper:last-child {
    margin-bottom: 10px;
}

.MessageLeftWrapper {
    position: relative;
}

.MessageSection img {
    max-width: 250px;
}

.MessageLeftWrapper .Left {
    background-color: #fff;
    float: left;
}

.MessageLeftWrapper .PartnerAva, .MessageRightWrap .PartnerAva {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 0;
    float: left;
    margin: 10px 0 0 15px;
    cursor: pointer;
}

.MessageCompose {
    visibility: visible;
    transition: all 1s linear;
}

.MessageCompose .messageInputGroup {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-right: 15px;
    background-color: #ffff;
}

.input-group {
    margin-right: -1px;
    margin-left: 0;
}

.MessageCompose .messageInputGroup .input-group-addon {
    cursor: pointer;
    border-top: none !important;
}

.input-group-addon:first-child {
    border-right: 0;
}

.MessageCompose .messageInputGroup .BargainButton, .MessageCompose .messageInputGroup .FileButton, .MessageCompose .messageInputGroup .MapButton {
    color: #fe9900;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
    font-size: 1.3em;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

.MessageCompose .messageInputGroup .ButtonIcon {
    width: 23px;
    height: 22px;
    padding-top: 4px;
    margin-left: 5px;
}

.MessageSection img {
    max-width: 250px;
}

.MessageCompose .messageInputGroup .messageTextbox {
    resize: none;
    border: none;
    padding-left: 15px;
    padding-right: 40px;
    min-height: 35px;
    border-radius: 30px !important;
    background-color: #ececec !important;
    margin-top: 5px;
}

.MessageCompose .messageInputGroup .input-group-addon {
    cursor: pointer;
    border-top: none !important;
    padding: 5px 8px;
}

.MessageCompose .messageInputGroup .sendButton {
    width: 25px;
    height: 20px;
    background-image: url(../img/send-gray.svg);
    z-index: 9;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    position: absolute;
    background-color: transparent;
    border: none;
    right: 15px;
    bottom: calc(50% - 12px);
}

.MessageHeader .ChatNameSection .ButtonWrapper {
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.MessageHeader .ChatNameSection .ButtonWrapper .backBtnWrapper {
    color: #000;
}

/*messages*/

/*contact mobile*/
.contactBarMobile {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
}

.contactBarMobile .layout-contactBarMobile {
    border-top: 1px solid #E5E5E5;
    background-color: white;
}

.contactBarMobile .layout-contactBarMobile .btn-mobile-call {
    border-right: 1px solid #ccc;
}

.contactBarMobile .layout-contactBarMobile a {
    padding: 10px 10px;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 0;
    font-weight: bold;
}

.contactBarMobile .contactBarMobile-phone {
    float: none;
    display: table-cell;
    width: 1%;
}

.icon-mobile {
    background-position: center center;
    display: inline-block;
    height: 24px;
    width: 24px;
    background-size: contain !important;
    vertical-align: middle;
    margin-right: 5px;
}

.icon-call {
    background: url(../img/mobile_phone.png) no-repeat;
    background-size: contain;
}

.contactBarMobile .layout-contactBarMobile a span {
    font-size: 14px;
}

.contactBarMobile .sXWIiqx5zVqvR01p7nmvN {
    float: none;
    display: table-cell;
    width: 1%;
}

.btn-group-justified {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
}

/*contact mobile*/

/*form*/

.main-form form {
    padding: 8px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.main-form .form-control {
    font-size: 14px;
}

.main-form label.required:after {
    content: " *";
    color: red;
}

.main-form .alert {
    margin-bottom: 8px !important;
    margin-top: 10px;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.main-form .alert ul {
    padding-left: 15px !important;
    margin-bottom: 0;
}

.cs-border-radio {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 5px;
}

.customradio {
    margin: 5px;
    display: inline-block;
    position: relative;
    padding-left: 40px;
    cursor: pointer;
}

.customradio input {
    height: 1px;
    width: 1px;
    opacity: 0;
}

.customradio .outside {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    border: 2px solid #eaac00;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: none;
}

.customradio .inside {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #eaac00;
    left: 3px;
    top: 3px;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
}

.customradio .no-transforms .inside {
    left: auto;
    top: auto;
    width: 0;
    height: 0;
}

.customradio input:checked + .outside .inside {
    -webkit-animation: radio-select 0.1s linear;
    animation: radio-select 0.1s linear;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.customradio .no-transforms input:checked + .outside .inside {
    width: 10px;
    height: 10px;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border .2s ease-in-out;
}

.input-file-wrapper {
    cursor: pointer;
    position: relative;
    margin: 8px;
    display: inline-block;
    vertical-align: top;
    width: 64px;
    height: 64px;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}

.input-file-wrapper .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.input-file-wrapper .btn-close {
    color: #fff;
    background-color: #000;
    border-color: #fff;
    position: absolute;
    right: -10px;
    top: -10px;
    border-radius: 50%;
    border: none;
}

.form-icon-camera {
    display: inline-block;
    margin: 8px;
}

.btn-brand {
    color: #fe9900;
    background-color: #fff;
    border-color: #fe9900;
}

.btn-brand:hover {
    color: #fe9900;
    background-color: #e6e6e6;
    border-color: #c17400;
}

.btn-brand.focus, .btn-brand:focus {
    color: #fe9900;
    background-color: #e6e6e6;
    border-color: #7f4c00;
}

.cs-border-input {
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.cs-border-input input {
    border: none;
}

.cs-border-input .input-group-append .input-group-text {
    border: none;
    font-size: 14px;
    background: inherit;
}

.cs-number-input {
    clear: both;
    margin: 15px 0;
    position: relative;
}

.cs-number-input input[type='button'] {
    background-color: #eeeeee;
    min-width: 38px;
    width: auto;
    transition: all 300ms ease;
}

.cs-number-input .button-minus,
.cs-number-input .button-plus {
    font-weight: bold;
    height: 38px;
    padding: 0;
    width: 38px;
    position: relative;
}

.cs-number-input .quantity-field {
    position: relative;
    height: 38px;
    left: -6px;
    text-align: center;
    width: 62px;
    display: inline-block;
    font-size: 13px;
    margin: 0 0 5px;
    resize: vertical;
}

.cs-number-input .button-plus {
    left: -13px;
}

.cs-number-input input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
}

.cs-number-input input {
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 10px;
}

.cs-number-input input[type="button"] {
    -webkit-appearance: button;
    cursor: pointer;
}

.cs-number-input input::-webkit-outer-spin-button,
.cs-number-input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input-txt-max .input-maxlength {
    overflow-y: scroll;
    resize: none;
}

.input-textarea {
    overflow-y: scroll;
    resize: none;
}

.btn-primary-customized {
    color: #fff;
    background-color: #fe9900;
    border-color: #e58a00;
}

.btn-primary-customized:hover,
.btn-primary-customized:focus {
    background: #feb70b;
    border-color: #fe9900;
    box-shadow: none;
}

.btn-pre-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    line-height: 40px;
    z-index: 9;
}

.btn-pre {
    border: none;
    background: none;
    outline: none !important;
}

.tab {
    display: none;
}

.btn-primary-customized.active.focus,
.btn-primary-customized.active:focus,
.btn-primary-customized.focus,
.btn-primary-customized:active.focus,
.btn-primary-customized:active:focus, .btn:focus {
    outline: none;
    outline-offset: -2px;
}

.btn-primary-customized:not(:disabled):not(.disabled):active {
    background: #feb70b;
    border-color: #fe9900;
}

/* .list-group-item.active fa */

/*form*/

.selector {
    position: relative;
    padding: 20px 20px 0 20px;
    width: 100%;
}

.selector .price-slider {
    text-align: center;
    display: block;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding-top: 17px
}

.selector .price-slider:before {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: 0;
    content: attr(data-currency);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.selector #price-slider-range,
.selector #area-slider-range {
    margin-bottom: 30px;
    border: none;
    height: 3px;
    margin-left: 8px;
    margin-right: 8px
}

.selector .ui-slider-handle {
    border-radius: 50%;
    top: -13.5px;
    width: 28px;
    height: 28px;
    outline: none;
    background: #ffffff;
}

.selector .slider-price {
    position: relative;
    display: inline-block;
    padding: 5px 40px;
    width: 40%;
    line-height: 28px;
    text-align: center
}

.selector .slider-price:before {
    position: absolute;
    top: 50%;
    left: 13px;
    margin-top: 0;
    content: attr(data-currency);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

/*MODAL*/
.cs-modal .modal-header{
      padding: 0 20px;
    height: 45px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #dbdbdb;
}
.cs-modal .modal-header h4 {
    line-height: 45px;
    margin: 0;
    font-family: Verdana;
    font-weight: bold;
    font-size: 16px;
}

.cs-modal .modal-header .close {
    padding: 0rem 1rem;
    margin: 0 -1rem -1rem auto;
}
.cs-modal .modal-body h2{
    font-size: 15px;
    font-weight: bold;
}

.modal-customradio {
    width: 100%;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.modal-customradio input {
    height: 1px;
    width: 1px;
    opacity: 0;
}

.modal-customradio .modal-outside {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    border: 2px solid #eaac00;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: none;
}

.modal-customradio .modal-inside {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #eaac00;
    left: 3px;
    top: 3px;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
}

.modal-customradio .no-transforms .modal-inside {
    left: auto;
    top: auto;
    width: 0;
    height: 0;
}

.modal-customradio input:checked + .modal-outside .modal-inside {
    -webkit-animation: radio-select 0.1s linear;
    animation: radio-select 0.1s linear;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.modal-customradio .no-transforms input:checked + .modal-outside .modal-inside {
    width: 10px;
    height: 10px;
}

.modal-customcheckbox {
  width: 100%;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

/* Hide the browser's default checkbox */
.modal-customcheckbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.modal-customcheckbox .checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border: 2px solid #eaac00;
    border-radius: 25%;
}

/* On mouse-over, add a grey background color */
.modal-customcheckbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.modal-customcheckbox input:checked ~ .checkmark {
  background-color: #eaac00;
}

/* Create the checkmark/indicator (hidden when not checked) */
.modal-customcheckbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.modal-customcheckbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.modal-customcheckbox .checkmark:after {
      left: 5px;
    top: 1px;
    width: 6px;
    height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cs-modal .modal-footer{
    padding: 0;
    border: none;
}
.cs-modal .modal-footer .row-footer{
    border: 1px solid #fbb500 !important;
    background-color: #fff;
}
.cs-modal .modal-footer .row-footer .btn-close{
    background-color: #fff;
    color: #fbb500;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0
}
.cs-modal .modal-footer .row-footer .btn-apply{
    background-color: #fbb500;
    color: #fff;
    text-align: center;
    font-weight: 700;   
    text-transform: uppercase;
    border-radius: 0;
}
/*MODAL*/