@media (min-width: 480px) {
    .jogpc {
        margin: 10px 10px 0 10px;
    }
}

@media (min-width: 768px) {
    .header-logo-img {
        height: 35px;
    }
    .input-file-wrapper {
        width: 120px;
        height: 120px;
    }
    .desktopFooter {
        display: block;
    }

    .mobileFooter {
        display: none;
    }

    .slider-wrapper-content {
        max-height: 400px;
    }

    .slider-wrapper-content .inner {
        height: 400px;
    }

    .listAutocomplete-item {
        padding: 7px 16px;
    }

    .category-item:hover {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px 0px;
    }

    .menuMore-listItemWrapper {
        padding: 0;
    }

    .cs-modal .modal-dialog {
        width:600px;
        margin: 30px auto;
    }
}

@media (min-width: 992px) {
    .content-wrapper {
        margin: 0 -15px;
    }

    .user-info {
        padding: 0;
    }
}

@media (min-width: 1200px) {
    .slider-wrapper-content .inner {
        height: 450px;
    }

    .slider-wrapper-content {
        max-height: 450px;
    }
}

@media (max-width: 992px) {
    .search-box {
        width: 57%;
    }

    .desktopFooter-container {
        width: 100%;
    }

    .content-wrapper-header {
        padding: 0;
    }

    .mp-lg-0 {
        padding: 0;
    }
}

@media (max-width: 768px) {
    .navItem-Header-icon {
        width: 28px;
        height: 28px;
    }

    .search-span {
        width: 100%;
    }

    .form-container {
        margin: 62px auto 0;
    }

    .category-img {
        width: 68px;
        height: 68px;
    }

    .cs-nav .nav {
        overflow-x: scroll;
        overflow-y: auto;
        display: -webkit-box;
        flex-wrap: nowrap;
    }

    .cs-modal .modal-dialog {
        width:100%;
        height: 100%;
    }
}

@media (max-width: 767px) {
    .stick-scroll-menu-nav-left {
        flex: 1 1 auto;
        text-align: center;
    }

    .stick-scroll-menu-nav-right {
        flex: 0;
    }

    .navItem-span {
        display: none;
    }

    .stick-scroll-menu-nav-right .navItem {
        display: none;
    }

    .stick-scroll-menu-nav-right .navItem.navItem-active-child {
        display: block;
        position: absolute;
        top: 6px;
        padding-right: 12px;
        right: 0;
        z-index: 2;
    }

    .search-box {
        width: 100%;
        margin-left: 5px;
        margin-right: 5px;
    }

    .search-input {
        text-indent: 35px;
        width: 100%;
    }

    .search-group-button {
        height: 100%;
        background: #fff;
        width: 35px;
        right: 0;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
    }

    .btn-search {
        display: none;
    }

    .btn-bookmark {
        margin-right: 5px;
    }

    .search-action-box {
        display: none;
    }

    .navItem-Header-primaryButton {
        font-size: 12px;
        padding: 8px;
    }

    .stick-scroll-menu-nav-mobile {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        height: 50px;
        width: 100%;
        min-width: 320px;
        background-color: #fff;
        margin: 0 auto;
        z-index: 3;
        will-change: transform;
    }

    .information-body .stick-scroll-menu-nav-mobile {
        display: none;
    }

    .pull-xs-left {
        float: left !important;
    }

    .content-wrapper-header {
        font-size: 14px;
    }

    .price-span {
        font-size: 14px;
    }

    .category-item {
        height: 125px;
        border: none !important;
    }

    .category-dropdown {
        -webkit-box-align: center;
        align-items: center;
        flex-direction: column;
    }

    .category-dropdown-text {
        font-size: 14px;
        margin-top: 8px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
    }

    .category-dropdown-subtext {
        display: none;
    }

    .menuMore-mobile {
        position: fixed;
        width: 100%;
        height: calc(100% - 50px);
        right: -5px;
        left: 0;
        overflow: auto;
        z-index: 2;
        line-height: 45px;
        background: #fff;
        padding: 10px 0;
        -webkit-overflow-scrolling: touch;
        border: 1px solid rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        border-top: none;
        top: 96px;
    }

    .menuMore-mobile.active {
        display: block;
    }

    .notification-mobile {
        position: fixed;
        width: 100%;
        height: calc(100% - 50px);
        right: -5px;
        left: 0;
        overflow: auto;
        z-index: 2;
        line-height: 25px;
        background: #fff;
        padding: 10px 0;
        -webkit-overflow-scrolling: touch;
        border: 1px solid rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        border-top: none;
        top: 96px;
        padding-top: 0;
    }

    .notification-mobile.active {
        display: block;
    }
    .list-article .card img{
        max-height: 130px;
    }

    .navItem-Header-navItemLink .navItem-badge-wrapper.chat{
        top: -1px;
        left: 2px;
    }
}

@media (max-width: 576px) {
    .navItem {
        line-height: 35px;
        padding: 0 5px;
    }
    .list-article .card img{
        max-height: 120px;
    }

    .filter .select-dropdown-menu{
        width: inherit;
    }
    
    .filter .cs-dropdown-menu {
        width: inherit;
    }
}

@media (max-width: 480px) {
    .contactBarMobile .layout-contactBarMobile a span {
        height: 12px;
        font-size: 12px;
    }
}

@media screen and (max-width: 450px) {
    .form-container {
        width: 100%;
        min-width: 100%;
        -webkit-border-radius: 0;
        border-radius: 0;
    }

    .form-container .form-title {
        width: -webkit-calc(100% - 2px);
        width: calc(100% - 2px);
    }

    .form-container form {
        width: 100%;
    }

    input[type="tel"],
    input[type="text"],
    input[type="number"],
    input[type="password"],
    input[type="email"],
    textarea {
        font-size: 16px !important;
    }

    .list-article .card img {
        max-height: 110px;
    }

}